Source: ros-kinetic-homer-tts
Section: misc
Priority: extra
Maintainer: raphael <raphael@uni-koblenz.de>
Build-Depends: debhelper (>= 9.0.0), python-catkin-pkg, ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-catkin, ros-kinetic-dynamic-reconfigure, ros-kinetic-roscpp, ros-kinetic-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-homer-tts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-dynamic-reconfigure, ros-kinetic-roscpp, ros-kinetic-rospy
Description: The homer_tts package
